.user-logged-in.path-user {
  .region-breadcrumb {
    /*display: none;*/
    
  }
  .main-wrapper {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .region-sidebar-first {
    padding: $spacer*2;
    @include media-breakpoint-up(lg) {
      padding-top: $spacer*5;
      padding-bottom: $spacer*5;
    }
  }
  @include media-breakpoint-up(lg) {
    .region-content {
      padding: $spacer*5 0 $spacer*5 $spacer*5;
    }
  }
}
.usr-menu-side, .usr-profile-side {
  font-family: $headings-font-family;
}
.usr-profile-side {
  font-size: 0.857rem;
  .block-field-blockuseruseruser-picture {
    overflow: hidden;
    max-width: 50px;
    border-radius: 50%;
    margin-bottom: $spacer;
  }
  .field--name-field-full-name {
    font-size: 1.25rem;
  }
  .user-logout {
    margin-top: $spacer*0.75;
    a {
      color: $breadcrumb-color;
      text-decoration: underline;
      &:hover {
        color: $white;
      }
    }
  }
}
.usr-menu-side {
  margin-top: $spacer*2;
  .navbar-nav {
    .nav-link {
      color: $breadcrumb-color;
      padding-left: 0;
      padding-right: 0;
      &:hover {
        color: $white;
      }
    }
  }
}