// Custom
html {
  font-size: $font-size-root;
  @media (min-width: $xxxl-sz) {
    font-size: $font-size-root-xxxl;
  }
}
img {
  max-width: 100%;
  height: auto;
}
ol, ul, dl {
  padding-left: 1rem;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
}
.btn-primary:hover, .btn-primary.hover {
  background-color: #c30615;
}
.blazy .media {
  background: $gray-900;
  &.media--loading::before {
      background: $primary;
  }
}
.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content {
  padding: 0;
}
.region-sidebar-first {
  padding: $spacer;
  background: $sec-body-bg;
  height: 100%;
}
.item-list > .row, .view-content.row {
  margin-top: -20px;
  @include media-breakpoint-up(md) {
    margin-top: (-$grid-gutter-width);
  }
}
.item-list > .row > li, .view-content.row .views-row {
  margin: 20px 0 0;
  @include media-breakpoint-up(md) {
    margin-top: $grid-gutter-width;
  }
}
.item-list > .row {
  margin: -20px (-$grid-gutter-width/2) 0 (-$grid-gutter-width/2);
  list-style: none outside none;
  @include media-breakpoint-up(md) {
    margin-top: (-$grid-gutter-width);
  }
  & > li {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
}
.row-sm.row {
  margin-left: -5px;
  margin-right: -5px;
  @include media-breakpoint-up(md) {
    margin-left: -10px;
    margin-right: -10px;
  }
  & [class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
    @include media-breakpoint-up(md) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@include media-breakpoint-up(md) {
  .row-md-def.row {
    margin-left: -10px;
    margin-right: -10px;
    & [class*="col"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.navbar-expand-lg > .container {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}
.btn.disabled, a.disabled.button, .btn:disabled, a.button:disabled {
  background-color: $btn-disabled-bg;
  border-color: $btn-disabled-bg;
}
.button {
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.bg--lg, .bg--drk {
  position: relative;
  background: $body-bg;
  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $black;
  }
  .layout__region {
    position: relative;
    z-index: 1;
  }
}
.bg--lg {
  background: $black;
  &::before {
    background: $body-bg;
  }
}
.bg--wve {
  &::before {
    border-radius: 16px 16px 0 0;
    @include media-breakpoint-up(md) {
      border-radius: 32px 32px 0 0;
    }
    @include media-breakpoint-up(xl) {
      border-radius: 60px 60px 0 0;
    }
  }
}
.bg--ban {
  background: none;
  margin-top: -16px;
  @include media-breakpoint-up(md) {
    margin-top: -32px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: -60px;
  }
}
.container-full {
  .layout__region {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.bt, .separator {
  border-top: 1px solid $sep-color;
}
.separator {
  margin: 40px 30px 20px;
  text-align: center;
}
.sep-txt {
  background: $body-bg;
  padding: 0 20px;
  font-weight: 700;
  position: relative;
  top: -11px;
}

@include media-breakpoint-up(lg) {
  .pt-lg-6 {
    padding-top: 4rem !important;
  }
  .pb-lg-6 {
    padding-bottom: 4rem !important;
  }
  .py-lg-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
}

@media (min-width: $xxl-grid) {
  .container, .navbar-expand-lg>.container {
    max-width: 1300px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pt-xxl-6 {
    padding-top: 3rem !important;
  }
  .pb-xxl-6 {
    padding-bottom: 3rem !important;
  }
  .py-xxl-6 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: $xxxl-sz) {
  .container, .navbar-expand-lg>.container {
    max-width: 1500px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .pt-xxl-6 {
    padding-top: 4rem !important;
  }
  .pb-xxl-6 {
    padding-bottom: 4rem !important;
  }
  .py-xxl-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
}

/**
 * Forms
 */
label {
  font-weight: 700;
}
.form-item, .form-actions {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.description {
  margin-top: 10px;
  @extend .text-muted;
}
.form-actions {
  .form-submit:first-child:last-child {
    width: 100%;
  }
}
.form-control {
  &.chosen-container {
    border: 0;
    max-width: 100%;
    padding: 0;
  }
}
.chosen-container-single {
  .chosen-single {
    border-color: $input-border-color;
    height: calc(1.5em + #{$input-padding-y*2} + 2px);
    background: $input-bg;
    box-shadow: none;
    padding: $input-padding-y $input-padding-y;
    color: $input-color;
    border-radius: $input-border-radius;
    span {
      line-height: 1.5;
    }
    div b {
      background-position: 0 14px;
    }
  }
  &.chosen-container-active.chosen-with-drop .chosen-single {
    background: $input-bg;
    border-color: $input-border-color;
    box-shadow: none;
    div b {
      background-position: -18px 14px;
    }
  }
  .chosen-drop {
    border-color: $input-border-color;
    border-radius: 0;
    background: $body-bg;
  }
}
.chosen-container .chosen-results {
  color: $input-color;
}
.form-item + .button {
  margin-left: 0;
}

/**
 * Site Header & Navbar
*/
.site-header {
  min-height: 60px;
  font-family: $headings-font-family;
  @include media-breakpoint-up(lg) {
    min-height: 80px;
  }
}
.navbar {
  background: $black;
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
  margin: 0;
  img {
    transition: height 0.3s;
    margin: 0;
    height: 52px;
    @include media-breakpoint-up(lg) {
      height: 72px;
    }
  }
}
.navbar-toggler {
  padding: 0;
  border: 0;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
.w-scrd {
  @include media-breakpoint-up(lg) {
    .navbar-brand img {
      height: 52px;
    }
  }
}
.search-ico {
  font-size: 1.25em;
  cursor: pointer;
  padding: 5px;
}
.region-nav-additional {
  display: flex;
  & > .block {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.block-language {
  cursor: pointer;
  position: relative;
  .links {
    position: absolute;
    left: -15px;
    top: -23px;
    background: $black;
    padding: 100px $spacer $spacer;
    min-width: 100px;
    list-style: none outside none;
    font-size: 0.875rem;
    display: none;
    border-radius: 0 0 15px 15px;
    z-index: 2;
    .language-link {
      color: $white;
      display: block;
      padding: 4px 0;
      &:hover, &.is-active {
        color: $primary;
      }
    }
  }
  &:hover .links {
    display: block;
  }
}
.sel-language {
  padding: 8px 0;
  position: relative;
  z-index: 3;
}
.navbar-nav .nav-link {
  padding-left: $spacer;
  padding-right: $spacer;
}

@include media-breakpoint-up(lg) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: $spacer * 1;
    padding-right: $spacer * 1;
  }
  .menu--main .navbar-nav .nav-link {
    padding-left: $spacer * 1.5;
    padding-right: $spacer * 1.5;
  }
}
.menu--main, .menu--account {
  .navbar-nav .nav-link {
    color: $white;
    &:hover {
      color: $primary;
    }
  }
}
.menu--main {
  font-size: 1.125rem;
}
.user-block {
  padding: 0 $spacer;
  margin: 0 1px;
  position: relative;
  z-index: 3;
  &::before, &::after {
    content: '';
    display: block;
    height: 32px;
    width: 1px;
    background: $white;
    position: absolute;
    left: -1px;
    top: 4px;
  }
  &::after {
    left: auto;
    right: -1px;
  }
  .user-ico {
    height: 40px;
    vertical-align: middle;
    width: 40px;
    text-align: center;
    background: $gray-800;
    border-radius: 50%;
    margin: 0 10px 0 0;
    padding: 10px 0;
  }
}
@include media-breakpoint-down(md) {
  .navbar-collapse {
    display: block !important;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    right: 0;
    overflow: auto;
    width: 320px;
    background: $body-bg;
    right: -320px;
    &::before {
      content: '';
      display: block;
      top: 60px;
      left: 0;
      height: calc(100vh - 60px);
      width: 100vw;
      background: $black;
      position: fixed;
      display: none;
      opacity: 0;
      transition: all .3s cubic-bezier(.77,.2,.05,1);
    }
  }
  .collapsing, .show {
    right: 0;
    transition: all .3s cubic-bezier(.77,.2,.05,1);
    &::before {
      display: block;
      opacity: 0.9;
    }
  }
  .navbar-box {
    padding: $spacer * 1.25 0;
  }
  .region-nav-additional {
    padding: 0 $spacer $spacer;
  }
  .block-language .links {
    top: 0;
    background: $gray-800;
    padding-top: 50px;
  }
}

/**
 * Nodes
 */
.text-formatted {
  line-height: 1.8;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
.node--view-mode-banner {
  position: relative;
  .field--name-field-image {
    height: auto;
    margin: 0;
    @include media-breakpoint-up(lg) {
      height: auto;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .reg-cnt-wrp {
    margin: 0;
    width: 100%;
    left: 0;
    bottom: 0px;
    position: fixed;
    z-index: 11;
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 32px;
    }
    @include media-breakpoint-up(xl) {
      bottom: 60px;
    }
    @include media-breakpoint-down(md) {
      .container {
        padding: 0;
      }
    }
  }
  .reg-cnt {
    background: $gray-800;
    color: $white;
    border-radius: 0;
    @include media-breakpoint-up(md) {
      background: $white;
      color: $black;
      border-radius: 16px 16px 0 0;
    }
    @include media-breakpoint-up(lg) {
      max-width: 320px;
      margin-left: auto;
    }
    @media (min-width: $xxl-grid) {
      max-width: 360px;
    }
  }
  .reg-ico {
    .btn {
      border-radius: 50%;
      font-size: 15px;
      padding: 7px 12px;
      height: 40px;
      width: 40px;
      margin-top: -28px;
      @include media-breakpoint-up(md) {
        font-size: 30px;
        padding: 10px 20px;
        height: 68px;
        width: 68px;
        margin-top: -34px;
      }
    }
  }
}
.node-content-full {
  .node-title {
    font-size: 1.25rem;
    @include media-breakpoint-up(md) {
      font-size: 1.75rem;
    }
  }
  .field--name-field-game, .field--name-field-match-format {
    font-family: $headings-font-family;
    font-size: 1rem;
    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
    }
  }
  .field--name-field-match-format, .node-content-full .field--name-field-start-date {
    font-size: 0.875rem;
  }
  .field--name-field-game a {
    color: $white;
    &:hover {
      color: $primary;
    }
  }
  .field--name-field-thumbnail {
    border-radius: 15px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .field--name-body {
    max-height: 54px;
    overflow: hidden;
    -webkit-transition: all .35s;
    transition: all .35s;
    @media (min-width: $xxxl-sz) {
      max-height: 58px;
    }
  }
  .node-body-expand:checked ~ .field--name-body {
    max-height: 100vh;
  }
  .node-body-expand:checked ~ .expand-collapse {
    .less {
      display: inline;
    }
    .more {
      display: none;
    }
  }
}
.expand-collapse {
  cursor: pointer;
  .less {
    display: none;
  }
  &:hover {
    color: $primary;
  }
  .fas {
    color: $primary;
  }
}
.tab-pane {
  display: none;
  &.active {
    display: block;
  }
}

/**
 * BreadCrumb
 */
.breadcrumb {
  font-size: 0.813rem;
  font-family: $headings-font-family;
  padding: 0 0 1rem;
  a {
    color: $breadcrumb-color;
    &:hover {
      color: $white;
    }
  }
}

/**
 * Card
*/
.field {
  margin-bottom: 8px;
  &:last-child, &.field--name-field-thumbnail, &.field--name-field-total-prize-pool {
    margin-bottom: 0;
  }
}
.field__label {
  font-weight: $font-weight-normal;
}
.field--name-field-tags {
  font-family: $headings-font-family;
  .field__item {
    display: inline;
    margin-right: 5px;
  }
  a::before {
    content: '#';
  }
}
.card {
  height: 100%;
  overflow: hidden;
  .card-img, .card-img-top, .card-img-bottom {
    overflow: hidden;
  }
  &--plain {
    background-color: transparent;
    border-radius: 0;
  }
  &--large {
    .card-title {
      font-size: 1.5rem;
      @include media-breakpoint-up(sm) {
        font-size: 2.375rem;
      }
    }
    .field--name-field-start-date {
      font-size: 0.813rem;
    }
  }
}
.field--name-field-total-prize-pool {
  background: $white;
  text-align: center;
  color: $black;
  border-radius: 0 0 16px 16px;
  padding: 5px 0;
  font-size: 0.875rem;
  font-family: $headings-font-family;
  @media (min-width: 1600px) {
    font-size: 1rem;
  }
  .field__label, .field__item {
    float: none;
    padding: 0;
    display: inline;
    vertical-align: middle;
  }
  .field__label {
    font-size: 0.75rem;
  }
}
.card-subtitle, .card-title {
  a {
    color: $white;
    &:hover {
      color: $primary;
    }
  }
}
.card-subtitle {
  font-size: 0.75rem;
}
.card-title, .card-nm .card-title {
  font-size: 0.875rem;
  @include media-breakpoint-up(sm) {
    font-size: 1.063rem;
  }
}
.field--name-field-start-date, .card-nm .field--name-field-start-date {
  font-size: 0.625rem;
  font-family: $headings-font-family;
}

/** 
 * More Link
*/
.more-link {
  text-align: left;
  font-family: $headings-font-family;
  font-size: 0.875rem;
  a {
    color: $body-color;
    &:hover {
      color: $link-color;
    }
    &::after {
      @include fa;
      content: "\f061";
      margin-left: 10px;
      color: $link-color;
    }
  }
}

/**
 Layout spacing
*/
.region-width-allocation {
  & ~ .main-wrapper {
    margin: 0 !important;
    .main-container {
      max-width: none;
      padding: 0;
    }
    .block-system-breadcrumb-block {
      position: relative;
    }
    .breadcrumb-nav {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      @extend .container;
    }
    .breadcrumb {
      padding: 12px 0;
    }
  }
}
.region-hdr-transparent {
  & ~ .site-header {
    min-height: 0;
    .navbar {
      background: none;
    }
  }
}
.w-scrd .site-header .navbar {
  background: $black;
}
.region-page-title-hide {
  & ~ .main-wrapper {
    .block-page-title-block {
      @extend .sr-only;
    }
  }
}
.region-container-sm {
  & ~ .main-wrapper {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    .main-inside {
      max-width: 700px;
      margin: 6px auto;
      background: $sec-body-bg;
      padding: 1rem;
      .separator {
        border-color: $sep-color2;
      }
      .sep-txt {
        background-color: $sec-body-bg;
      }
      @include media-breakpoint-up(sm) {
        padding: 50px 10%;
      }
    }
  }
}

/**
 * Tabs
 */
.tabs-primary {
  display: inline-block;
  font-size: 1.125rem;
  margin: 0 0 $spacer*1.5;
  @include media-breakpoint-up(sm) {
    margin-bottom: $spacer*2;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: $spacer*3;
  }
}
.nav-tabs {
  border-bottom-color: $sep-color;
  font-family: $headings-font-family;
  font-size: 1rem;
  @include media-breakpoint-up(sm) {
    font-size: 1.125rem;
  }
  .nav-item {
    border: 0;
    padding: 0 16px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      color: $text-muted;
      display: block;
      border: 0;
      position: relative;
      padding: 6px 0;
      @include media-breakpoint-up(md) {
        &.tab-toggle {
          display: none;
        }
      }
      &:hover, &:focus {
        background: none;
        border: 0;
      }
    }
  }
  .nav-link.active, .nav-item.show .nav-link {
    background: none;
    border: 0;
  }
  .nav-link.active a, a.nav-link.active, .nav-item.show .nav-link a, .nav-item a:hover {
    color: $white;
    &::after {
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      max-width: 30px;
      border-radius: 0 0 3px 3px;
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      background: $primary;
      @include media-breakpoint-up(sm) {
        height: 5px;
        bottom: -3px;
        max-width: 50px;
        border-radius: 0 0 5px 5px;
      }
    }
  }
}


/**
 * Blocks
*/
.block--title {
  margin-bottom: 1rem;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
@include media-breakpoint-down(sm) {
  .view-header {
    .block--title {
      font-size: 1.125rem;
    }
  }
}
.ts {
  .block--title {
    max-width: 300px;
    @media (min-width: $xxxl-sz) {
      max-width: 340px;
    }
  }
}
.bts {
  .block--title {
    font-size: 1.5rem;
    margin-bottom: $spacer;
  }
}
.bs [class*="col"] {
  max-width: 175px;
}
.bxs {
  [class*="col"] {
    max-width: 110px;
  }
  &.ibr img {
    @include media-breakpoint-up(sm) {
      border-radius: 10px;
    }
  }
}
.ibr {
  img {
    border-radius: 5px;
    @include media-breakpoint-up(md) {
      border-radius: 1rem;
    }
  }
}
.banner-block {
  p {
    margin: 0;
  }
}
.bnr-sdw {
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 30%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(18,18,18,0) 0%, rgba(18,18,18,0.9) 50%, rgba(18,18,18,1) 100%);
    background: -webkit-linear-gradient(top, rgba(18,18,18,0) 0%,rgba(18,18,18,0.9) 50%,rgba(18,18,18,1) 100%);
    background: linear-gradient(to bottom, rgba(18,18,18,0) 0%,rgba(18,18,18,0.9) 50%,rgba(18,18,18,1) 100%);
  }
  &.dark-sdw::after {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 50%,rgba(0,0,0,1) 100%);
  }
  
  .bnr-caption {
     -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    width: 80%;
  }
  @include media-breakpoint-down(md) {
    video {
      height: calc(80vh) !important;
    }
  }
}
.rg-fltr {
  .view-filters, .view-content {
    width: 100%;
    position: relative;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    flex: 0 0 100%;
    @include media-breakpoint-up(lg) {
      flex: 0 0 25%;
      max-width: 25%;
      order: 2;
    }
  }
  @include media-breakpoint-up(lg) {
    .view-content {
      flex: 0 0 75%;
      max-width: 75%;
      order: 1;
    }
  }
}

/**
 * Views Filters
*/
.rg-fltr .views-exposed-form {
  font-family: $headings-font-family;
  font-size: 1.125rem;
  .form-item {
    float: none;
    position: relative;
    margin: -15px 0 0;
    border-top: 1px solid $gray-600;
    padding-top: 20px;
    &:first-child {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
      .chosen-single {
        top: 0;
      }
    }
    & > label {
      display: block;
    }
    &.fltr-enabled {
      .chosen-single {
        visibility: hidden;
      }
      .chosen-drop {
        display: block;
      }
    }
    select.form-select {
      visibility: hidden;
    }
  }
  .chosen-container {
    position: static;
    height: auto;
    border: 0;
    background: none;
    padding: 0;
    border-radius: 0;
  }
  .chosen-search {
    display: none;
  }
  .chosen-single {
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    width: 100%;
    border: 0;
    padding: 0;
  }
  .chosen-drop {
    position: static;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    border: 0;
    border-radius: 0;
    margin: 5px 0 0;
    box-shadow: none;
    background: none;
    display: none;
    padding: 0 0 30px;
  }
  .chosen-results {
    max-height: none;
    margin: 0;
    border: 0;
    padding: 0;
    li {
      padding: 8px 0;
      &.highlighted {
        background: none;
        color: inherit;
      }
      &.result-selected {
        color: $primary;
      }
    }
  }
  .form-actions {
    display: none;
  }
}

/**
 * Login / Register Pages
 */
.log-reg-msg {
  font-weight: 700;
  margin-top: -5px;
}
.block-social-auth-login {
  .social-auth {
    display: block;
    font-family: $headings-font-family;
    text-align: center;
    color: $white;
    background-color: $body-bg;
    padding: 10px;
    margin-top: 12px;
    &:first-child {
      margin-top: 0;
    }
    img {
      display: none;
    }
    &::before {
      @include fa;
      font-family: $fab;
      font-weight: 400;
      line-height: 24px;
      height: 24px;
      width: 24px;
      text-align: center;
      border-radius: 50%;
      background-color: $white;
      margin-right: 5px;
    }
    &[href*="facebook"] {
      background-color: $brand-fb;
      display: none;//temp
      &::before {
        content: "\f39e";
        color: $brand-fb;
      }
      &::after {
        content: 'Connect With Facebook';
      }
    }
    &[href*="google"] {
      background-color: $brand-goog;
      display: none;//temp
      &::before {
        content: "\f1a0";
        color: $brand-goog;
      }
      &::after {
        content: 'Connect With Google';
      }
    }
    &[href*="discord"] {
      background-color: $brand-discord;
      &::before {
        content: "\f392";
        color: $brand-discord;
      }
      &::after {
        content: 'Connect With Discord';
      }
    }
    &[href*="twitch"] {
      background-color: $brand-twit;
      &::before {
        content: "\f1e8";
        color: $brand-twit;
      }
      &::after {
        content: 'Connect With Twitch';
      }
    }
    &:hover {
      background-color: $body-bg;
      &::before {
        color: $body-bg;
      }
    }
  }
}
.user-form, .user-login-form {
  .form-item, .field--type-datetime {
    label, .label, .description {
      display: inline-block;
    }
  }
  .field--type-datetime {
    .form-item, .form-control {
      width: 100%;
    }
  }
}
.user-pass > p {
  @extend .description;
  font-size: 0.85em;
}

/**
 * UI Widget
 */
.ui-widget-overlay {
  background: $black;
  opacity: 0.8;
}
.ui-widget {
  &.ui-widget-content {
    border: 0;
    border-radius: 20px;
    background: $sec-body-bg;
    color: $body-color;
    overflow: hidden;
  }
  .ui-dialog-titlebar {
    background: $sec-body-bg;;
    border: 0;
    color: $white;
    text-align: center;
    font-family: $headings-font-family;
    font-size: 1.25rem;
    text-shadow: none;
    padding: 20px;
  }
  .btn {
    font-family: $headings-font-family;
  }
  a {
    color: $primary;
  }
}
.ui-dialog {
  .ui-dialog-content {
    color: $body-color;
    padding: 0 20px 20px;
    h2 {
      font-size: 1.6rem;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  
  .ui-dialog-title {
    width: 100%;
    display: none;
  }
  .ui-dialog-titlebar-close {
    text-indent: 0;
    height: 24px;
    width: 24px;
    font-size: 0;
    color: transparent;
    background: white;
    border-radius: 50%;
    right: 15px;
    &::before {
      @include fa;
      content: "\f00d";
      font-size: 14px;
      line-height: 24px;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      color: $black;
    }
    span {
      display: none;
    }
  }
  .ui-dialog-buttonpane {
    background: none;
    border: 0;
    padding: 0 0 15px;
    .ui-dialog-buttonset {
      float: none;
    }
    .form-actions {
      text-align: center;
      .form-submit {
        width: auto;
      }
    }
  }
}
.trng-registration-overview {
  display: flex;
  flex-direction: column;
  p {
    margin: 20px 0 0;
  }
  .form-submit {
    margin-left: auto;
    margin-right: auto;
  }
}
.ajax-progress-throbber {
  background: $black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  * {
    display: none !important;
  }
}

/**
 * Footer
*/
.site-footer {
  background: $black;
  border-top: 1px solid $body-bg;
}
.foot-logo-block {
  img {
    height: 80px;
  }
}
.foot-flw-block {
  font-size: 1.25rem;
  a {
    color: $white;
    background: $body-bg;
    display: inline-block;
    height: 36px;
    width: 36px;
    text-align: center;
    border-radius: 50%;
    &.flw-fb {
      background-color: $brand-fb;
    }
    &.flw-twit {
      background-color: $brand-twit;
    }
    &.flw-insta {
      background-color: $white;
      color: $brand-insta;
      &:hover {
        color: $white;
      }
    }
    &:hover {
      background-color: $body-bg;
    }
  }
}
.footer-flw-list {
  line-height: 2;
}
.footer-menu-block {
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: $headings-font-family;
  .nav-link {
    color: $white;
    &:hover {
      color: $link-color;
    }
  }
}
.copy-msg-block {
  font-family: $headings-font-family;
  font-size: 0.75rem;
}
@include media-breakpoint-up(md) {
  .region-footer-right {
    display: flex;
    flex-direction: column;
    .block {
      display: table;
      margin-left: auto;
    }
  }
  .footer-menu-block {
    margin-top: auto;
    .navbar-nav {
      flex-direction: row;
    }
    li {
      display: inline;
    }
  }
}

/**
 * Body Classes
*/
body[class^="toolbar-"] {
  .navbar {
    position: relative;
    z-index: 1;
  }
  @include media-breakpoint-up(lg) {
    .navbar-brand img {
      height: 80px;
    }
  }
}
.user-logged-in {
  .menu--account {
    position: relative;
    cursor: pointer;
    .navbar-nav {
      display: none;
      position: absolute;
      background: $black;
      top: -23px;
      padding: 88px 0 10px;
      left: 1px;
      right: 1px;
      border-radius: 0 0 15px 15px;
      font-size: 0.813rem;
      z-index: 2;
    }
    &:hover .navbar-nav {
      display: block;
    }
  }
  @include media-breakpoint-down(md) {
    .user-block {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    .menu--account .navbar-nav {
      padding-top: 50px;
      left: 0px;
      top: 0;
      border-top-left-radius: 25px;
      background: $gray-800;
    }
  }
}
body:not(.user-logged-in) {
  .menu--account {
    .nav-link {
      background: $primary;
      &:hover {
        background: $white;
      }
    }
  }
}
.path-user:not(.user-logged-in) {
  .block-local-tasks-block {
    display: none;
  }
}

/* Timer */
.regist {
  clear: both;
  margin: 15px 0;
  .timeri {
    display: inline-block;
    background: $gray-800;
    color: $white;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    .timerf {
      font-weight: 300;
    }
  }
}

.participants-tab {
  text-align: center;
  img {
    border-radius: 50%;
    max-width: 120px;
    display: inline-block;
  }
  h6 {
    margin-top: 10px;
  }
}

#group_accordion, .battle_royale_bracket {
  .card {
    border-radius: 0;
    margin-bottom: 4px;
    padding: 0;
    .card-header {
      border-radius: 0;
      padding: 4px;
      .btn {
        width: 100%;
        background: #000;
        font-family: $font-primary;
        color: #fff;
        text-align: left;
        box-shadow: none !important;
        &.collapsed {
          background: #1c1c1c;
          i.fa:before {
            content: "\f107";
          }
          &:hover {
            background: #000;
          }
        }
        span {
          width: 30%;
          display: inline-block;
          border-left: 1px solid #363636;
          padding-left: 1%;
          &:first-child {
            border-left: none;
            padding-left: 0;
            font-weight: bold;
          }
        }
      }
    }
    .card-body {
      .item-list .nav li {
        cursor: pointer;
        &:hover, &.active {
          text-decoration: underline;
        }
      }
    }
    .table {
      thead th {
        background: #363636;
        border: none;
      }
      td {
        border-bottom: 1px solid #363636;
      }
    }
  }
}
.nav-tabs.nav-sub {
  font-family: $font-primary;
  font-size: 1rem;
  a.nav-link.active::after, a.nav-link:hover::after {
    height: 2px;
    bottom: -1px;
    background: #ccc;
  }
}

/* Match Detail Page Style */
.path-match .page-title {
  display: none;
}

.match-view-page {
  .match-banner {
    position: relative;
    overflow: hidden;
    @include media-breakpoint-down(md) {
      min-height: 400px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0,.5);
      top: 0;
      left: 0;
      z-index: 1;
    }
    .image-style-banner {
      filter: blur(10px);
    }
    .match-content {
      position: absolute;
      z-index: 2;
      top: 20%;
      left: 10%;
      width: 80%;
      .match-content-item {
        .player-img {
          width: 120px;
          border-radius: 50%;
          display: block;
          margin: 0 auto 15px;
        }
        .match-timer {
          @extend .regist;
          .timeri {
            background: $primary;
          }
        }
        &.match-score {
          
          h3 {
            font-size:3rem;
          }
        }
      }
    }
  }
}

.match-view-teaser {
  background: #1C1C1D;
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  .match-date {
    font-size: 0.8rem;
    width: 100%;
  }
  .match-content-item {
    .player-img {
      width: 120px;
      border-radius: 50%;
      display: block;
      margin: 0 auto 5px;
    }
    .match-timer {
      @extend .regist;
      .timeri {
        background: $primary;
      }
    }
    &.match-score {
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        font-size:2rem;
      }
    }
  } 
}

/* Bracket Style */
div.jQBracket {
  font-family: $font-primary;
  .team {
    background-color: #999;
  }
}
.toolbar-icon-9 .toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url(/sites/default/files/Logo.jpg);
}
.alert {
  z-index: 100;
  padding: 2rem 1.5rem;
  margin-bottom: 0;
  border-radius: 0;
}
