// Colors
$breadcrumb-color: #808080;
$btn-disabled-color: #aaa9a9;
$sep-color: #373737;
$sep-color2: #5e5e5e;
$sec-body-bg: #1c1c1d;
$brand-fb: #3b5998;
$brand-twit: #9146ff;
$brand-insta: #c32aa3;
$brand-goog: #4285f4;
$brand-discord: #7289da;

// Fonts
$font-primary: 'Open Sans', sans-serif;
$font-audiowide: 'Audiowide', 'Open Sans', sans-serif;
$fab: "Font Awesome 5 Brands";

// Sizing
$xxl-grid: 1360px;
$xxxl-sz: 1600px;