// Theme variables
// Color system
$white: #fff !default;
$red: #f12535 !default;
$black: #000 !default;
$gray-900: #121212 !default;
$gray-800: #1C1C1C !default;

$primary: $red !default;

// Spacing
$spacer: 1rem !default;

// Settings for the `<body>` element.
$font-size-root: 14px !default;
$font-size-root-xxxl: 16px !default;
$body-bg: $gray-900 !default;
$body-color: $white !default;

// Links
$link-color: $primary !default;
$link-hover-decoration: none !default;

// Typography
$font-family-base: $font-primary !default;
$headings-font-family: $font-audiowide !default;

// Navbar
$navbar-padding-y: $spacer / 4 !default;
$navbar-brand-padding-y: 0 !default;

// Cards
$card-spacer-y: $spacer*1.25 !default;
$card-spacer-x: $spacer !default;
$card-bg: $gray-800;
$card-border-radius: 16px;
$card-border-width: 0;

// Breadcrumbs
$breadcrumb-bg: transparent !default;
$breadcrumb-border-radius: 0 !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-active-color: $white !default;
$breadcrumb-divider: quote("|") !default;

// Buttons
$btn-border-radius: 0 !default;
$btn-font-family: $font-audiowide !default;
$btn-padding-y: 12px !default;
$btn-padding-x: 17px !default;
$btn-disabled-opacity: 1 !default;
$btn-disabled-bg: $btn-disabled-color !default;

// Forms
$input-padding-y: 1rem !default;
$input-padding-x: 1.25rem !default;
$input-bg: transparent !default;
$input-border-color: $white !default;
$input-border-radius: 0 !default;
$input-color: $white !default;

$grid-gutter-width: 20px !default;