<div class="email-header" style='background:#000;color:#fff;padding: 10px;font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";'>
  <p><img src="{{ url('<front>') }}/sites/default/files/logo_v2.png" width="60px" /></p>